In [2]:
import pandas as pd
import numpy as np
import glob
import zipfile as zf

In [1]:
files = zf.ZipFile("TimeSeries.zip", 'r')
files.extractall('TimeSeries')
files.close()

In [4]:
files_list= glob.glob("data/TimeSeries/*.csv")
print(files_list[0])

data/TimeSeries\TimeSeries_20121001_071939_f33b8882f104721ef7260312da06aec1.csv

In [9]:
df= pd.read_csv(files_list[0], delimiter=';')
df.head()

,DATE,HEURE,PHASE,PR_1,PR_2,PR_3,PR_4,TEMP_1,TEMP_2,BRAKE_1,SPEED_1,SENSOR_1,SENSOR_2,SENSOR_3,SENSOR_4,SENSOR_5
0,01/10/2012,07:12:53,6dd4dbc3fcdbc5ba95c4b0955373aea2,0.363110,1.190973,-1.417032,18.375643,100.19824,128.95020,1.854075,823473.0,-9.0,61.000000,0.0,23827156.0,-3.794118
1,01/10/2012,07:12:54,6dd4dbc3fcdbc5ba95c4b0955373aea2,0.423425,1.311648,-1.038560,55.485634,100.22754,128.95020,1.851925,823494.0,-9.0,60.747910,0.0,23827160.0,-3.794118
2,01/10/2012,07:12:55,6dd4dbc3fcdbc5ba95c4b0955373aea2,0.423425,1.326732,-1.133180,56.257484,100.00049,128.99414,1.856691,823494.0,-9.0,58.953540,0.0,23827160.0,-3.788235
3,01/10/2012,07:12:56,6dd4dbc3fcdbc5ba95c4b0955373aea2,0.435485,1.371984,-1.227800,75.020490,100.08838,129.06738,2.373041,823494.0,-9.0,55.300000,0.0,23827160.0,-3.788235
4,01/10/2012,07:12:57,6dd4dbc3fcdbc5ba95c4b0955373aea2,0.218350,1.130634,-1.164716,59.679787,100.17627,129.08203,2.477713,823494.0,-9.0,47.600883,0.0,23827160.0,-3.788235

In [44]:
from datetime import datetime

df_results = pd.read_csv('data/Results_201210.csv', delimiter=';')
df_results['Timestamp'] = df_results['DATE'] + ' ' + df_results['HEURE']
df_results['Timestamp'] = df_results['Timestamp'].apply(lambda x : datetime.strptime(x, '%d/%m/%Y %H:%M:%S'))
df_results['Day'] = df_results['Timestamp'].apply(lambda x : x.day)
df_results['date_rev'] = df_results['Timestamp'].apply(lambda x : str(x.year)+ '{:02d}'.format(x.month)+ '{:02d}'.format(x.day))
df_results['time'] = df_results['Timestamp'].apply(lambda x : '{:02d}'.format(x.hour)+ '{:02d}'.format(x.minute)+ '{:02d}'.format(x.second))

df_results.head()

,TEST_STAND,DATE,HEURE,SERIAL_NUMBER,PRODUCT_NUMBER,RESULT,ALIM_1,ALIM_2,DIRECTION,Timestamp,Day,date_rev,time
0,V01,28/09/2012,15:27:56,18806057d7990acb57b45b9e158dabb8,c4d2187fa110c66f771d6e3bfd20bd4a,G,1.764,0.528,L,2012-09-28 15:27:56,28,20120928,152756
1,V01,28/09/2012,15:41:12,fa3a3083f601fa224184a0294bc66fd2,c4d2187fa110c66f771d6e3bfd20bd4a,G,1.561,0.792,L,2012-09-28 15:41:12,28,20120928,154112
2,V01,28/09/2012,16:09:07,5375e20cc745c699d5b0451df7670f52,e0d25f75f0f54846e0d5929ed4b46aac,G,0.161,0.069,L,2012-09-28 16:09:07,28,20120928,160907
3,V01,28/09/2012,16:21:02,5830d17cc99259cd9afc27fbaf948f28,e0d25f75f0f54846e0d5929ed4b46aac,G,0.042,0.054,L,2012-09-28 16:21:02,28,20120928,162102
4,V01,28/09/2012,16:33:41,32943b5ea010c1c5a0d59af9b1c84ed0,e0d25f75f0f54846e0d5929ed4b46aac,G,0.203,0.069,L,2012-09-28 16:33:41,28,20120928,163341

In [45]:
filtered_df = df_results.loc[df_results['Timestamp'].dt.month == 10]
filtered_df

,TEST_STAND,DATE,HEURE,SERIAL_NUMBER,PRODUCT_NUMBER,RESULT,ALIM_1,ALIM_2,DIRECTION,Timestamp,Day,date_rev,time
20,V01,01/10/2012,07:05:17,b4f0944fd20df856edc385fe0b423471,b2da7b0ac8fae13ede591d37e1d2523c,G,0.042000,0.054,L,2012-10-01 07:05:17,1,20121001,070517
21,V01,01/10/2012,07:12:52,f33b8882f104721ef7260312da06aec1,b2da7b0ac8fae13ede591d37e1d2523c,G,0.000000,0.054,L,2012-10-01 07:12:52,1,20121001,071252
22,V01,01/10/2012,07:22:44,061a1826012009ab129aacfea8c85305,b2da7b0ac8fae13ede591d37e1d2523c,G,0.000000,0.036,L,2012-10-01 07:22:44,1,20121001,072244
23,V01,01/10/2012,07:39:02,8e4899c63a1109289426ab99d145a008,b2da7b0ac8fae13ede591d37e1d2523c,G,0.042000,0.087,L,2012-10-01 07:39:02,1,20121001,073902
24,V01,01/10/2012,07:45:54,abc369361be6ba3d36b2f125eac3549b,b2da7b0ac8fae13ede591d37e1d2523c,G,0.126000,0.069,L,2012-10-01 07:45:54,1,20121001,074554
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,V01,31/10/2012,19:14:43,5d95669de2a7fd8c976258181db3c2c2,363da4640dee891e5cdec5e524d45778,G,30.001999,12.714,L,2012-10-31 19:14:43,31,20121031,191443
1323,V01,31/10/2012,20:05:30,6375e3a5f55352cd327b8306f5ceb729,5a5b75e99f380bc2d18a381a7c6f4bef,G,1.561000,0.423,L,2012-10-31 20:05:30,31,20121031,200530
1324,V01,31/10/2012,20:17:05,1c9276c7f5e2ae93b35f44bb372a6737,5a5b75e99f380bc2d18a381a7c6f4bef,G,2.261000,0.774,L,2012-10-31 20:17:05,31,20121031,201705
1325,V01,31/10/2012,20:23:49,37dfbad16236d5701cf21b407a6d7900,5a5b75e99f380bc2d18a381a7c6f4bef,G,2.058000,0.582,L,2012-10-31 20:23:49,31,20121031,202349
1326,V01,31/10/2012,20:32:10,c84e7c81246ae43edf6ad8e2d4e5fcd7,5a5b75e99f380bc2d18a381a7c6f4bef,G,2.632000,1.215,L,2012-10-31 20:32:10,31,20121031,203210

In [84]:
def getData(file):
    with open(file, 'r+') as f:
        next(f)
        line = f.readline()
        line = line.replace('\n','').split(';')
    return line[-5:]

In [85]:
data = getData('data/TimeSeries\\TimeSeries_20121001_073729_061a1826012009ab129aacfea8c85305.csv')
data

['-9.0', '61.0', '0.0', '2.389268E7', '-3.847059']

In [86]:
'''
Example of filtering when there are more than one file matches the search pattern

pattern: c84e7c81246ae43edf6ad8e2d4e5fcd7 11/10/2012 10:08:27 G 100827

['data/TimeSeries\\TimeSeries_20121011_100554_882c54363223b56f26acd6bb7de78344.csv', 'data/TimeSeries\\TimeSeries_20121011_100823_882c54363223b56f26acd6bb7de78344.csv', 'data/TimeSeries\\TimeSeries_20121011_101437_882c54363223b56f26acd6bb7de78344.csv']
'''
l=['data/TimeSeries\\TimeSeries_20121011_100554_882c54363223b56f26acd6bb7de78344.csv', 'data/TimeSeries\\TimeSeries_20121011_100823_882c54363223b56f26acd6bb7de78344.csv', 'data/TimeSeries\\TimeSeries_20121011_101437_882c54363223b56f26acd6bb7de78344.csv']

found =False
i=0
f=''
while (found==False and i< len(l)):
    if int(l[i].split('_')[2]) > int('100827'):
        found=True
        f=l[i]
    i=i+1
print(f)

data/TimeSeries\TimeSeries_20121011_101437_882c54363223b56f26acd6bb7de78344.csv

In [89]:
#---------------------------- prepare the data columns to add
sensor_1 = []
sensor_2 = []
sensor_3 = []
sensor_4 = []

for index, row in filtered_df.iterrows():
    #---------------------------- look for all the files that contains data of the item with Serial_Number N and on the Date D
    #print(SerialN, row['DATE'], row['HEURE'], row['RESULT'], row['time'])
    files = [f for f in files_list if row['SERIAL_NUMBER'] in f and row['date_rev'] in f]
    #print(files)
    
    #---------------------------- filter the files to find the file that contains data at the exact time and get the data
    if len(files) == 0:
        sensor_1.append(None)
        sensor_2.append(None)
        sensor_3.append(None)
        sensor_4.append(None)
    
    if len(files) == 1:
        data = getData(files[0])
        sensor_1.append(data[0])
        sensor_2.append(data[1])
        sensor_3.append(data[3])
        sensor_4.append(data[4])
        
    if len(files) > 1:
        found =False
        i=0
        f=''
        while (found==False and i< len(files)):
            if int(files[i].split('_')[2]) > int(row['time']):
                found=True
                f=files[i]
            i=i+1
        data = getData(f)
        sensor_1.append(data[0])
        sensor_2.append(data[1])
        sensor_3.append(data[3])
        sensor_4.append(data[4])
    
    #----------------------------- 

filtered_df['sensor_1'] = sensor_1
filtered_df['sensor_2'] = sensor_2
filtered_df['sensor_3'] = sensor_3
filtered_df['sensor_4'] = sensor_4

filtered_df.head()

C:\Users\softeam2\AppData\Local\Temp/ipykernel_5476/4162204803.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['sensor_1'] = sensor_1
C:\Users\softeam2\AppData\Local\Temp/ipykernel_5476/4162204803.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['sensor_2'] = sensor_2
C:\Users\softeam2\AppData\Local\Temp/ipykernel_5476/4162204803.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['sensor_3'] = sensor_3
C:\Users\softeam2\AppData\Local\Temp/ipykernel_5476/4162204803.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['sensor_4'] = sensor_4

,TEST_STAND,DATE,HEURE,SERIAL_NUMBER,PRODUCT_NUMBER,RESULT,ALIM_1,ALIM_2,DIRECTION,Timestamp,Day,date_rev,time,sensor_1,sensor_2,sensor_3,sensor_4
20,V01,01/10/2012,07:05:17,b4f0944fd20df856edc385fe0b423471,b2da7b0ac8fae13ede591d37e1d2523c,G,0.042,0.054,L,2012-10-01 07:05:17,1,20121001,070517,None,None,None,None
21,V01,01/10/2012,07:12:52,f33b8882f104721ef7260312da06aec1,b2da7b0ac8fae13ede591d37e1d2523c,G,0.000,0.054,L,2012-10-01 07:12:52,1,20121001,071252,-9.0,61.0,2.3827156E7,-3.794118
22,V01,01/10/2012,07:22:44,061a1826012009ab129aacfea8c85305,b2da7b0ac8fae13ede591d37e1d2523c,G,0.000,0.036,L,2012-10-01 07:22:44,1,20121001,072244,-9.0,61.0,2.389268E7,-3.847059
23,V01,01/10/2012,07:39:02,8e4899c63a1109289426ab99d145a008,b2da7b0ac8fae13ede591d37e1d2523c,G,0.042,0.087,L,2012-10-01 07:39:02,1,20121001,073902,-9.0,61.0,2.3959408E7,-3.9
24,V01,01/10/2012,07:45:54,abc369361be6ba3d36b2f125eac3549b,b2da7b0ac8fae13ede591d37e1d2523c,G,0.126,0.069,L,2012-10-01 07:45:54,1,20121001,074554,-9.0,57.385708,2.402534E7,-3.788235

In [97]:
filtered_df["RESULT"] = np.where(filtered_df["RESULT"] == "G", 0, 1)
filtered_df

C:\Users\softeam2\AppData\Local\Temp/ipykernel_5476/2770784421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["RESULT"] = np.where(filtered_df["RESULT"] == "G", 0, 1)

,TEST_STAND,DATE,HEURE,SERIAL_NUMBER,PRODUCT_NUMBER,RESULT,ALIM_1,ALIM_2,DIRECTION,Timestamp,Day,date_rev,time,sensor_1,sensor_2,sensor_3,sensor_4
20,V01,01/10/2012,07:05:17,b4f0944fd20df856edc385fe0b423471,b2da7b0ac8fae13ede591d37e1d2523c,0,0.042000,0.054,L,2012-10-01 07:05:17,1,20121001,070517,None,None,None,None
21,V01,01/10/2012,07:12:52,f33b8882f104721ef7260312da06aec1,b2da7b0ac8fae13ede591d37e1d2523c,0,0.000000,0.054,L,2012-10-01 07:12:52,1,20121001,071252,-9.0,61.0,2.3827156E7,-3.794118
22,V01,01/10/2012,07:22:44,061a1826012009ab129aacfea8c85305,b2da7b0ac8fae13ede591d37e1d2523c,0,0.000000,0.036,L,2012-10-01 07:22:44,1,20121001,072244,-9.0,61.0,2.389268E7,-3.847059
23,V01,01/10/2012,07:39:02,8e4899c63a1109289426ab99d145a008,b2da7b0ac8fae13ede591d37e1d2523c,0,0.042000,0.087,L,2012-10-01 07:39:02,1,20121001,073902,-9.0,61.0,2.3959408E7,-3.9
24,V01,01/10/2012,07:45:54,abc369361be6ba3d36b2f125eac3549b,b2da7b0ac8fae13ede591d37e1d2523c,0,0.126000,0.069,L,2012-10-01 07:45:54,1,20121001,074554,-9.0,57.385708,2.402534E7,-3.788235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,V01,31/10/2012,19:14:43,5d95669de2a7fd8c976258181db3c2c2,363da4640dee891e5cdec5e524d45778,0,30.001999,12.714,L,2012-10-31 19:14:43,31,20121031,191443,-9.0,54.548027,909609.0,-3.835294
1323,V01,31/10/2012,20:05:30,6375e3a5f55352cd327b8306f5ceb729,5a5b75e99f380bc2d18a381a7c6f4bef,0,1.561000,0.423,L,2012-10-31 20:05:30,31,20121031,200530,-9.0,36.098274,1094785.0,-3.988235
1324,V01,31/10/2012,20:17:05,1c9276c7f5e2ae93b35f44bb372a6737,5a5b75e99f380bc2d18a381a7c6f4bef,0,2.261000,0.774,L,2012-10-31 20:17:05,31,20121031,201705,-9.0,43.028008,893739.0,-3.9
1325,V01,31/10/2012,20:23:49,37dfbad16236d5701cf21b407a6d7900,5a5b75e99f380bc2d18a381a7c6f4bef,0,2.058000,0.582,L,2012-10-31 20:23:49,31,20121031,202349,-9.0,38.618378,694700.0,-3.8
1326,V01,31/10/2012,20:32:10,c84e7c81246ae43edf6ad8e2d4e5fcd7,5a5b75e99f380bc2d18a381a7c6f4bef,0,2.632000,1.215,L,2012-10-31 20:32:10,31,20121031,203210,-9.0,31.84758,493931.0,-3.811765

In [98]:
filtered_df[filtered_df["RESULT"]==1]

,TEST_STAND,DATE,HEURE,SERIAL_NUMBER,PRODUCT_NUMBER,RESULT,ALIM_1,ALIM_2,DIRECTION,Timestamp,Day,date_rev,time,sensor_1,sensor_2,sensor_3,sensor_4
101,V01,02/10/2012,06:50:58,f104ddbf3dd0cbd16d2f01243d17ceb3,e0d25f75f0f54846e0d5929ed4b46aac,1,1.932000,0.705000,L,2012-10-02 06:50:58,2,20121002,065058,-9.0,46.02259,2.8582508E7,-3.929412
102,V01,02/10/2012,06:59:04,6708c44794869fecc841594d0baa8046,e0d25f75f0f54846e0d5929ed4b46aac,1,1.400000,0.615000,L,2012-10-02 06:59:04,2,20121002,065904,-9.0,43.829155,2.8662612E7,-3.817647
134,V01,02/10/2012,15:09:38,bfb1302c2dd9a8cb7fd3d89b31788fcd,aabcf7df8b9dd4813bb531b66027725e,1,2.135000,2.202000,L,2012-10-02 15:09:38,2,20121002,150938,-9.0,45.021015,2.8690428E7,-3.752941
166,V01,03/10/2012,05:42:33,5d2a6dbc20073b24fa05016f3454dc80,d5454c600eafcd5e402c8d4ba680c62d,1,14.091000,6.042000,L,2012-10-03 05:42:33,3,20121003,054233,-9.0,45.884045,2.9108788E7,-3.811765
195,V01,03/10/2012,12:18:46,0350384718f8c734f7792e8f3f4443b0,5590928225cdd817b93ee46c69fce5dd,1,28.399002,12.146999,L,2012-10-03 12:18:46,3,20121003,121846,-9.0,54.04253,3.1539908E7,-3.717647
244,V01,04/10/2012,05:52:34,6708c44794869fecc841594d0baa8046,e0d25f75f0f54846e0d5929ed4b46aac,1,1.435000,0.618000,L,2012-10-04 05:52:34,4,20121004,055234,-9.0,52.35978,3.485902E7,-3.617647
385,V01,09/10/2012,07:48:15,03e2993c8e54794a54e3cd9a9140f4c6,c4351ddea1a9bef511316b8926890604,1,3.661000,1.656000,L,2012-10-09 07:48:15,9,20121009,074815,-9.0,34.39295,3.3573696E7,-3.829412
393,V01,09/10/2012,09:43:32,cfd62c8eeac8c69ccd7659cc4ad46851,b3e6af797d4d5c56af729684d14a8107,1,2.919000,1.674000,L,2012-10-09 09:43:32,9,20121009,094332,-9.0,42.532738,3.358736E7,-3.864706
399,V01,09/10/2012,10:30:48,c5d60a85f0d067a467bfe6b25a09163a,b3e6af797d4d5c56af729684d14a8107,1,12.403999,5.019000,L,2012-10-09 10:30:48,9,20121009,103048,-9.0,44.18764,3.239672E7,-3.829412
417,V01,09/10/2012,13:52:05,2d7aad59e7735be06302f13068686223,aabcf7df8b9dd4813bb531b66027725e,1,3.906000,1.602000,L,2012-10-09 13:52:05,9,20121009,135205,-9.0,32.699184,3.4600772E7,-3.847059
418,V01,09/10/2012,14:02:01,2d7aad59e7735be06302f13068686223,aabcf7df8b9dd4813bb531b66027725e,1,3.899000,1.671000,L,2012-10-09 14:02:01,9,20121009,140201,-9.0,31.0,3.4722172E7,-3.794118
424,V01,09/10/2012,14:58:22,6f48c72f30a5656cd4fe34166ecc4286,84b8771e57a50c2827f0a9aec0e53e43,1,1.400000,0.633000,L,2012-10-09 14:58:22,9,20121009,145822,-9.0,31.0,3.528502E7,-3.835294
501,V01,11/10/2012,06:26:56,483d356f67a6fde05d14ac534750960f,d95c8c5c9d29a2e97c123c0f2d2afc01,1,20.383999,8.403000,L,2012-10-11 06:26:56,11,20121011,062656,-9.0,33.910725,4.1423496E7,-3.870588
528,V01,11/10/2012,13:35:31,6708c44794869fecc841594d0baa8046,e0d25f75f0f54846e0d5929ed4b46aac,1,1.687000,0.738000,L,2012-10-11 13:35:31,11,20121011,133531,-9.0,31.836988,4.4828172E7,-3.976471
706,V01,16/10/2012,09:33:22,35dcd1743689bde9fbbbc70a81ca351b,2b8c6c04d98828c5475539e0df89aeeb,1,4.109000,1.707000,L,2012-10-16 09:33:22,16,20121016,093322,-9.0,44.7042,6.034734E7,-3.952941
738,V01,16/10/2012,15:59:47,bc6328bcd6c27f62d7649ca14ca7aec6,fc26bce02f373ff4f0dc025a820355d2,1,29.946000,12.507000,L,2012-10-16 15:59:47,16,20121016,155947,-9.0,49.840607,6.2158068E7,-3.864706
784,V01,17/10/2012,10:33:29,7ab2edcd1d977d4acf20198504e3b1cc,7298c19d6fb98c07279210553aa85962,1,5.215000,1.074000,L,2012-10-17 10:33:29,17,20121017,103329,-9.0,31.0,6.362556E7,-3.858824
830,V01,18/10/2012,14:42:53,58db4a1526b988c0922656cd32845ead,fad5ed7738c2dc7308de7556d753817e,1,6.251000,2.802000,L,2012-10-18 14:42:53,18,20121018,144253,-9.0,53.67025,7.1935848E7,-3.888235
831,V01,18/10/2012,14:50:15,58db4a1526b988c0922656cd32845ead,fad5ed7738c2dc7308de7556d753817e,1,5.796000,2.622000,L,2012-10-18 14:50:15,18,20121018,145015,-9.0,42.598194,7.179184E7,-3.811765
929,V01,22/10/2012,16:21:20,5eaff248dd455d928fa4de8d0db3bd5b,d95c8c5c9d29a2e97c123c0f2d2afc01,1,20.832000,8.607000,L,2012-10-22 16:21:20,22,20121022,162120,-9.0,38.450344,7.6805232E7,-3.941176
945,V01,22/10/2012,20:44:01,12ec494fa314a76a367efb9bdeccc217,3786f3f801761074adba9e04add771d1,1,0.371000,0.264000,L,2012-10-22 20:44:01,22,20121022,204401,-9.0,31.0,7.8897E7,-3.9
946,V01,22/10/2012,20:54:07,12ec494fa314a76a367efb9bdeccc217,3786f3f801761074adba9e04add771d1,1,0.287000,0.141000,L,2012-10-22 20:54:07,22,20121022,205407,-9.0,31.0,7.8897E7,-3.9
1033,V01,24/10/2012,11:24:26,6386c42008277c6e53b21fc9dc9d26c8,2fce6d5b48a952efd30c65a661d76860,1,40.845000,16.857000,L,2012-10-24 11:24:26,24,20121024,112426,-9.0,31.599789,8.9502456E7,-3.876471
1168,V01,29/10/2012,10:46:25,9a3ba45dc6566e46cb4488044bef0337,120f8a6d262b8f8505e78ee0925463ce,1,1.603000,0.582000,L,2012-10-29 10:46:25,29,20121029,104625,-9.0,45.193,5763665.0,-3.847059
1181,V01,29/10/2012,13:56:51,1d0e3edd912fc1d99ec319cb860e9af5,5a5b75e99f380bc2d18a381a7c6f4bef,1,1.113000,0.369000,L,2012-10-29 13:56:51,29,20121029,135651,-9.0,39.754528,7393099.0,-3.870588
1239,V01,30/10/2012,12:30:36,555be5c4ef51c58bdd481db22214b8b7,c8f82ea9d50c0bd299df05ac23232a45,1,2.590000,0.792000,L,2012-10-30 12:30:36,30,20121030,123036,-9.0,41.343536,8272262.0,-3.864706
1249,V01,30/10/2012,14:34:13,cdb6e01847fde428721737cb6c990155,d95c8c5c9d29a2e97c123c0f2d2afc01,1,22.680000,9.210000,L,2012-10-30 14:34:13,30,20121030,143413,-9.0,48.56649,9679379.0,-3.847059
1308,V01,31/10/2012,15:39:16,7cc559c5334b1b873f98fe05cb4e0872,b50872aeff3fa25168ab5841ff75add1,1,6.825000,2.748000,L,2012-10-31 15:39:16,31,20121031,153916,-9.0,42.4243,4.29413965E9,-3.911765
1320,V01,31/10/2012,18:53:09,82b429c04347bec1b6ea09bdeeb16f6d,363da4640dee891e5cdec5e524d45778,1,27.566000,11.528999,L,2012-10-31 18:53:09,31,20121031,185309,-9.0,52.171432,539233.0,-3.817647

In [99]:
prediction_dataset = filtered_df[['sensor_1','sensor_2','sensor_3','sensor_4','RESULT']]
prediction_dataset

     sensor_1   sensor_2     sensor_3   sensor_4  RESULT
20       None       None         None       None       0
21       -9.0       61.0  2.3827156E7  -3.794118       0
22       -9.0       61.0   2.389268E7  -3.847059       0
23       -9.0       61.0  2.3959408E7       -3.9       0
24       -9.0  57.385708   2.402534E7  -3.788235       0
...       ...        ...          ...        ...     ...
1322     -9.0  54.548027     909609.0  -3.835294       0
1323     -9.0  36.098274    1094785.0  -3.988235       0
1324     -9.0  43.028008     893739.0       -3.9       0
1325     -9.0  38.618378     694700.0       -3.8       0
1326     -9.0   31.84758     493931.0  -3.811765       0

[1307 rows x 5 columns]

In [100]:
prediction_dataset.to_csv("data/predict_data.csv", index=False)